
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2" style="margin-top:60px;">
        <form class="well" action="~/TwoFactorAuthenticationGoogleAuthenticator/Login">
            <label>Username</label>
            <input type="text" class="form-control" name="username" />
            <br /><br />

            <label>Password</label>
            <input type="password" class="form-control" name="password" />
            <br /><br />

            <label>Token</label>
            <input type="text" class="form-control" name="token" />
            <br /><br />


            <button type="submit" class="btn btn-primary" >Log in</button>
        </form>
    </div>
</div>


