
@{
    ViewBag.Title = "Two Factor Authentication SMS";
}


<h2>Two Factor Authentication SMS</h2>
<div class="row">
    <div class="col-lg-6 col-lg-offset-0 well">
        <p>
            @Html.ActionLink("Log in", "Login", "TwoFactorAuthenticationSMS")
        </p>
    </div>    
</div>
<div>
    <p>@Html.ActionLink("Go Back", "Index", "Home")</p>
</div>