
@{
    ViewBag.Title = "Index";
}

<h2>Encryption One Time Pad</h2>
<div class="row well">
    <div class="col-md-6">
        <br />
        <label>Plaintext</label>
        <textarea id="plaintext" class="form-control"></textarea><br />
        <button class="btn btn-primary" id="analyzePlaintext">Analyze Plaintext</button><br /><br />
        <button class="btn btn-primary" id="encrypt">Encrypt</button>
    </div>
    <div class="col-md-6">
        <label>Histogram Plaintext</label>
        <div id="chartPlaintext"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6"><br /><br /></div>
</div>

<div class="row well">
    <div class="col-md-6">
        <br />
        <label>Ciphertext</label>
        Generate One Time Pad: <span id="keyOneTimePad"></span>
        <textarea id="ciphertext" class="form-control"></textarea><br />
        <button class="btn btn-primary" id="analyzeCiphertext">Analyze Ciphertext</button><br /><br />
        <button class="btn btn-primary" id="decrypt">Decrypt</button> using key
        <input name="backshift" id="decryptkey" value="" type="text" class="form-control" style="width:200px;display:inline-block;" />
    </div>
    <div class="col-md-6">
        <label>Histogram Ciphertext</label>
        <div id="chartCiphertext"></div>
    </div>
</div>

<script>
    document.getElementById("analyzePlaintext").addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();

        var text = document.getElementById("plaintext").value;
        var histogram = createHistogramValues(text);

        document.getElementById("chartPlaintext").innerHTML = createHTMLTable(histogram);
    });

    document.getElementById("encrypt").addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();

        var plaintext = document.getElementById("plaintext").value;
        var encryptedValues = encryptOneTimePad(plaintext);

        document.getElementById("ciphertext").innerHTML = encryptedValues.ciphertext;
        document.getElementById("keyOneTimePad").innerHTML = encryptedValues.key;
    });

    document.getElementById("analyzeCiphertext").addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();

        var text = document.getElementById("ciphertext").value;
        var histogram = createHistogramValues(text);

        document.getElementById("chartCiphertext").innerHTML = createHTMLTable(histogram);
    });

    document.getElementById("decrypt").addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();

        var plaintext = document.getElementById("ciphertext").value;
        var key = document.getElementById("decryptkey").value;

        document.getElementById("ciphertext").innerHTML = decryptOneTimePad(plaintext, key);
    });

    function createHistogramValues(text) {
        var histogramPrepare = [];

        for (var i = 0, len = text.length; i< len; i++) {
            var letter = text[i];
            if (letter.match(/[a-z]/i))
            {
                histogramPrepare[letter] = (histogramPrepare[letter] || 0) + 1;
            }
        }

        histogram = histogramPrepare.sort(function (a, b) {
            a = a[1];
            b = b[1];

            return a < b ? -1 : (a > b ? 1 : 0);
        });
        return histogram;
    }

    function createHTMLTable(histogram)
    {
        var html = "<table>";
        for (var key in histogram) {
            html += "<tr>";
            html += "<td>" + key + ": </td><td>&nbsp;</td>";
            html += "<td>" + histogram[key] + "</td>";
            html += "</tr>";
        }
        html += "</table>";
        return html;
    }

    function encryptOneTimePad(input) {
        var key = "";
        for (var k = 0; k < input.length; k++) {
            var c = input[k].charCodeAt(0);

            if ((c >= 65) && (c <= 90)) {
                key += String.fromCharCode(Math.floor(Math.random() * 26) + 65);
            } else if ((c >= 97) && (c <= 122)) {
                key += String.fromCharCode(Math.floor(Math.random() * 26) + 97);
            }
        }

        var output = "";
        for (var i = 0; i < input.length; i++) {
            var char = input[i];

            if (char.match(/[a-z]/i)) {
                var c = parseInt(input.charCodeAt(i));
                var keyCharShift = parseInt(key.charCodeAt(i));

                if ((c >= 65) && (c <= 90)) {
                    output += String.fromCharCode((c - 65 + keyCharShift - 65) % 26+ 65);
                } else if ((c >= 97) && (c <= 122)) {
                    output += String.fromCharCode((c - 97 + keyCharShift - 97) % 26 + 97);
                }
            }
        }
        return { "ciphertext": output, "key": key };
    }

    function decryptOneTimePad(input, key) {
        var output = "";
        for (var i = 0; i < input.length; i++) {
            var char = input[i];

            if (char.match(/[a-z]/i)) {
                var cr = parseInt(input.charCodeAt(i));

                if ((cr >= 65) && (cr <= 90)) {
                    var c = parseInt(cr - 65);
                    var keyCharShift = parseInt(key[i].charCodeAt(0) - 65);

                    var newCharPosition = (c - keyCharShift) % 26;
                    if (newCharPosition < 0)
                        newCharPosition += 26;

                    output += String.fromCharCode(newCharPosition + 65);
                } else if ((cr >= 97) && (cr <= 122)) {
                    var c = parseInt(cr - 97);
                    var keyCharShift = parseInt(key[i].charCodeAt(0) - 97);

                    var newCharPosition = (c - keyCharShift) % 26;
                    if (newCharPosition < 0)
                        newCharPosition += 26;

                    output += String.fromCharCode(newCharPosition + 97);
                }
            }
        }
        return output;
    }
</script>

