@{
    ViewBag.Title = "Lab 2";
}

<h2>Lab 2</h2>
<div class="row">
    <div class="col-lg-6 col-lg-offset-0 well">
        <p>
            @Html.ActionLink("Log in", "Login", "Lab2")
        </p>
    </div>
</div>
<div>
    <p>@Html.ActionLink("Go Back", "Index", "Home")</p>
</div>