
@{
    ViewBag.Title = "Index";
}

<h2>Logging Audit Trails and Intrusion Detection</h2>
<div class="row">
    <div class="col-lg-6 col-lg-offset-0 well">
        <p>
            @Html.ActionLink("Log in", "Login", "LoggingAuditTrailsandInstrusionDectection")
        </p>
        <p>
            @Html.ActionLink("User Log", "UserLog", "LoggingAuditTrailsandInstrusionDectection")
        </p>
    </div>
</div>
<div>
    <p>@Html.ActionLink("Go Back", "Index", "Home")</p>
</div>

