
@{
    ViewBag.Title = "Index";
}

<h2>Self Signed Certificate for Apache Webserver</h2>
<div class="row">
    <div class="col-lg-6 col-lg-offset-0 well">
        <p>
            The key is located on : M183\M183\Views\SelfSignedCertificate\server.crt
        </p>
    </div>
</div>
<div>
    <p>@Html.ActionLink("Go Back", "Index", "Home")</p>
</div>
